/*------ VARIABLES ------*/

:root {
    --background-color: #f4f8fb;
    --pink: #E6ACDE;
    --grey: grey;
    --blue: #4F90C2;
    --blue-hover: #AED9FA;
    --light-blue: #e4f3fd;
}

/*------ END VARIABLES ------*/


/*------ GLOBAL STYLING ------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, button, input, textarea {
  font-family: "Quicksand", sans-serif;
}

a {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    color: var(--blue);
  }

ul {
    list-style: none;
}


img {
    width: 100%;
}

button {
  border: none;
  background: none;
  font-family: "Quicksand", sans-serif;
}

.text {
    font-size: 1.25rem;
    color: black;
    line-height: 1.6;
    font-family: "Quicksand", sans-serif;
  }


.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    margin: 0 auto;
    padding: 0 4rem;
}

/* .stop-scrolling {
    height: 100%;
    overflow: hidden;
} */

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.column-1 {
    margin-left: 12.2rem;
    margin-right: -10px;
}

.column-2 {
    margin-left: 1.5rem;
}

.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.overlay .shape {
    width: initial;
    opacity: 0.2;
    position: absolute;
}

.overlay.overlay-sm .shape {
    opacity: .15;
    height: 40px;
}

.overlay.overlay-lg .shape {
    height: 55px;
}

.section {
    padding: 3rem 0 3rem 0;
}

.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.title {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-family: "Quicksand", sans-serif;
    font-size: 2.8rem;
    margin-bottom: 0.6rem;
}

.title:before {
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    color: var(--pink);
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--pink);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.section-header .text {
    max-width: 600px;
    margin: 0 auto;
}

.title-sm {
    font-weight: 600;
    font-size: 1.6rem;
}

.btn {
    display: inline-block;
    padding: 0.85rem 2rem;
    background-color: var(--blue);
    color: var(--background-color);
    border-radius: 2rem;
    font: var(--font);
    font-size: 1.05rem;
    font-weight: 500;
    transition: 0.3s;
}


.btn:hover {
    background-color: var(--blue-hover);
    color: var(--background-color);
}

.btn.small {
    padding: .7rem 1.8rem;
    font-size: 1rem;
}

/*------ END GLOBAL STYLING ------*/

/*------ HEADER ------*/

header {
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    position: relative;
}

nav {
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
}

.banner-title {
  padding: .5rem 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.links ul {
    display: flex;
    font-family: "Quicksand", sans-serif;
}

.links a {
    display: inline-block;
    padding: .9rem 1.2rem;
    color: var(--blue);
    font-size: 1.05rem;
    font-weight: 500;
    line-height:1;
    transition: 0.3s;
}

.links a.active {
    background: var(--blue);
    color: var(--background-color);
    border-radius: 2rem;
    font-size: 1rem;
    padding: .9rem 2.1rem;
    margin-left: 1rem;
}

.links a:hover {
    color: var(--pink);
}

.links a.active:hover {
    color: var(--background-color);
    background: var(--blue-hover);
}

.hamburger-menu {
  width: 2.7rem;
  height: 3rem;
  z-index: 100;
  position: relative;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu .bar {
  position: relative;
  width: 2rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--blue);
  transition: 0.5s;
}

.bar:before, .bar:after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--blue);
  transition: .5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

nav.open .hamburger-menu .bar {
  background-color: transparent;
  transform: rotate(360deg);
}

nav.open .hamburger-menu .bar:before {
  transform: translateY(0) rotate(45deg);
  background-color: var(--blue);
}

nav.open .hamburger-menu .bar:after {
  transform: translateY(0) rotate(-45deg);
  background-color: var(--blue);
}

nav.open .links {
  transform: translateX(0);
}

.banner-content .container.grid-2 {
    min-height: calc(100vh -6rem);
    padding-bottom: 2.5rem;
   
    grid-template-columns: 2.5fr 3.5fr;
}

.banner-title {
    font-size: 3.8rem;
    line-height: .8;
    color: var(--blue);

}

.header-content .image .img-element {
    max-width: 750px;
}

header .shape-1 {
    right: 68%;
    top: 71%;
}

header .shape-2 {
    right: 7%;
    top: 75%;
}

header .shape-3 {
    right: 4%;
    bottom: 50%;
}

header .shape-4 {
    left: 50%;
    bottom: 82%;
}

header .shape-5 {
    left: 5%;
    top: 67%;
}

header .shape-6 {
    left: 20%;
    bottom: 75%;
}

header .shape-7 {
    right: 55%;
    bottom: 8%;
}

header .shape-8 {
    left: 38%;
    bottom: 63%;
}

/*------ END HEADER ------*/

/*------ SKILLS ------*/

.icon {
    width: 90px;
    margin-bottom: 1.7rem;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card-wrap {
    position: relative;
    margin: 1.7rem .8rem;
}

.card {
    position: relative;
    width: 390px;
    min-height: 300px;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
    overflow: hidden;
    transition: .3s;
}

.card:before {
    content: attr(data-card);
    position: absolute;
    top: -15px;
    right: -5px;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1;
    color: var(--blue);
    opacity: 0.08;
}

.card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    transition: .3s;
}

.card-wrap:hover .card {
    transform: translateY(-15px);
}

.card-wrap:hover .card:after {
    height: 8px;
}

.card .title-sm {
    line-height: 0.8;
}

.card .text {
    font-size: 1.15rem;
    margin: 1.8rem 0;
}


/*------ END SKILLS ------*/

/*------ VIDEOS ------*/

.videos{
display: flex;
justify-content: center;
flex-direction: row;
}

.video{
padding: 2rem;
}

iframe{
  width: 450px;
  height: 253px;
  max-width: 100%;
}

@media (max-width: 1400px) {
  .videos {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px){
  iframe{
    width: 350px;
    height: 170px;
  }
}

/*------ END VIDEOS ------*/

/*------ PORTFOLIO ------*/

.portfolio {
    position: relative;
    width: 100%;
}

.background-bg {
    position: absolute;
    width: 100%;
    height: 520px;
    left: 0;
    background-color: var(--background-color);
}

.portfolio-title {
    padding-top: 4rem;
}


.portfolio .title:after {
    background-color: var(--pink);
}

.filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-btn {
    border: none;
    outline: none;
    background: transparent;
    margin: .45rem .4rem;
    padding: .85rem 1.8rem;
    color: var(--pink);
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1;
    cursor: pointer;
    border-radius: 2rem;
    transition: .3s;
}

.filter-btn.active {
    background-color: var(--blue);
    color: var(--background-color);
}


.portfolio .shape-1 {
    top: 28%;
    left: 20%;
}

.portfolio .shape-2 {
    top: 10%;
    left: 10%;
}

.portfolio .shape-3 {
    top: 8%;
    right: 35%;
}

.portfolio .shape-4 {
    bottom: 10%;
    right: 4%;
}

.portfolio .shape-5 {
    bottom: 13%;
    left: 5%;
}

.portfolio .shape-6 {
    top: 35%;
    right: 20%;
}

.portfolio .shape-7 {
    top: 10%;
    right: 8%;
}

.portfolio .shape-8 {
    top: 38%;
    left: 6%;
}

.grid {
    width: 100%;
    margin: 1.5rem 0;}

.grid-item {
    width: 33.3%;
    padding: 1rem 1.2rem;
    display: flex;
    justify-content: center;
}

.gallery-image {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    height: 330px;
    width: 100%;
    cursor: pointer;
}

.gallery-image img {
    position: absolute;
    height: 115%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: 0.5s;
}

.gallery-image .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    color: var(--background-color);
    background-color: #e6acdeba;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 3.2rem;
    opacity: 0;
    transition: .5s;
}

.img-overlay .plus {
    position: relative;
    margin: auto 0;
}

.plus:before, .plus:after {
    content: "";
    position: absolute;
    width: 4.5rem;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    border-radius: 3px;
}

.plus:before {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.img-description {
    width: 100%;
}

.img-overlay h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.img-overlay h5 {
    font-size: .9rem;
    font-weight: 300;
}

.gallery-image:hover .img-overlay {
    opacity: 1;
}

.gallery-image:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

.more-projects {
    display: flex;
    justify-content: center;
}
/*------ END PORTFOLIO ------*/

/*------ BLOG ------*/


.w-block .blog-feed{
  display: flex;
  flex-direction: row;
}

@media (max-width: 1400px) {
  .w-block .blog-feed {
    flex-direction: column;
  }
}

.w-block .blog-feed li{
  padding: 1rem;
}

.w-block .blog-feed li a{
  text-decoration: none;
  transition: all 250ms;
}
.w-block .blog-feed li a:hover {
  color: var(--blue-hover);
}
.w-block h2 {
  margin: 1rem 0;
}
.w-link {
  margin: 1.5rem 0;
}
.w-link a {
  margin: 0 1rem 0 0;
  display: inline;
  text-align: center;
}

/*------ END BLOG ------*/

/*------ CASE STUDY ------*/


.carousel {
  padding: 4rem 0 0 0;
  background-color: var(--background-color);
}

.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
  padding-bottom: 3rem;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--blue);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: grey;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--blue);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--background-color);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*------ END CASE STUDY ------*/


/*------ ABOUT ------*/

.about {
  overflow: hidden;
}

.about img {
  max-width: 600px;
}

p.text {
 padding: 1rem 0;
} 


/*------ END ABOUT ------*/

/*------ CONTACT ------*/

.contact {
    position: relative;
    width: 100%;
    padding: 10.5rem 0 8.5rem;
}

.contact:before, .contact:after {
    content:"";
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
}

.contact:before {
    top: 0;
    height: 40%;
    background: url("../img/banner.png") top center / cover;
}

.contact:after {
    top: 40%;
    height: 60%;
    background: url("../img/banner2.png") center bottom / cover;
}

.contact-box {
    width: 100%;
    background: #e6acde3b;
    border-radius: 45px;
    padding: 5.5rem 4.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info {
    padding-right: 2rem;
}

.contact-form {
    padding-left: 2rem;
}

.contact-info .title:after {
    left: 0;
    transform: initial;
}

.information-wrap {
    margin-top: 2rem;
}

.information {
    display: flex;
    align-items: center;
}

.information:not(:last-child) {
    margin-bottom: 1.3rem;
}

.contact-icon {
    min-width: 67px;
    height: 67px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--background-color);
    text-align: center;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.contact-icon i {
    line-height: 67px;
}

.info-text {
    font-size: 1.3rem;
    display: inline-block;
}

.contact-form .title:after {
    display: none;
}

.contact-form .title {
    margin: 0;
}

.contact-form .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-column-gap: .6rem;
}

.contact-input {
    padding: 1.2rem 2.1rem;
    margin: .6rem 0;
    border: none;
    outline: none;
    background: var(--background-color);
    border-radius: 4rem;
    font-weight: 500;
    font-size: 1.25rem;
    transition: .3s;
}    


.contact-input::placeholder {
    font-weight: 200;
}

.contact-input.textarea {
    resize: none;
    min-height: 280px;
    border-radius: 2rem;
}

.contact-input:hover {
    background: #ffffff;
}

.contact-input:focus {
    background: var(--light-blue);
}

.contact-button .btn {
    margin-top: 0.6rem;
  } 


/*------ END CONTACT ------*/


/*------ FOOTER ------*/

.footer {
    background-color: var(--background-color);
    padding: 6rem 0;
}

.footer-content {
    padding: 0 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
}

.followme-wrap {
    display: flex;
}

.followme {
    display: flex;
    align-items: center;
}

.followme h3 {
    font-weight: 400;
    font-size: 1.3rem;
}

.followme .footer-line {
    width: 60px;
    height: 2px;
    background: var(--blue);
    margin: 0 1.2rem;
    display: inline-block;
}

.social{
    padding: 2rem 0 0 1.8rem;
}

.social-media a {
    color: var(--blue);
    font-size: 1.3rem;
    margin-right: .7rem;
    transition: .3s;
}

.social-media a:hover {
    color: var(--pink);
}

.back-btn-wrap {
    position: relative;
    margin-left: 2.5rem;
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: var(--blue);
    border-radius: 50%;
    color: var(--background-color);
    font-size: 1.2rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
    transition: .3s;
    position: relative;
    z-index: 2;
}

.back-btn:hover {
    background-color: #52A87F;
}

.back-btn:before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: grey;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50) scale(.7);
    border-radius: 50%;
    opacity: 0.08; 
    animation: scale 1.2s ease-out infinite;
}

@keyframes scale {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.15;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
}

/*------ END FOOTER ------*/


/*------ THANK YOU ------*/

.thank-you {
  background-color: var(--background-color);
}

.thank-you p {
  text-align: center;
  padding: 4rem;
}

.thank-you .container {
  padding: 4rem 0;
}


/*------ END THANK YOU ------*/


/*------ LET'S MAKE IT RESPONSIVE ------*/

@media (max-width: 1280px) {
    .text {
      font-size: 1rem;
    }
  
    .title {
      font-size: 2.1rem;
      padding-bottom: 0.65rem;
    }
  
    .title:before {
      margin-bottom: 0.2rem;
      font-size: 0.8rem;
      letter-spacing: 2px;
    }
  
    .title:after {
      height: 3.5px;
      width: 70px;
    }
  
    .title-sm {
      font-size: 1.2rem;
    }
  
    .btn {
      padding: 0.75rem 1.7rem;
      font-size: 0.8rem;
    }
  
    .btn.small {
      padding: 0.65rem 1.6rem;
      font-size: 0.7rem;
    }
  
    .section-header .text {
      max-width: 500px;
    }
  
    .section {
      padding: 2rem 0;
    }
  
    .column-1 {
      margin-left: 6rem;
    }
  
    .column-2 {
      margin-left: 1rem;
    }
  
    .overlay.overlay-lg .shape {
      height: 35px;
    }
  
    .overlay.overlay-sm .shape {
      height: 24px;
    }
  
    .header-content .image .img-element {
      max-width: 500px;
    }
  
    nav .container {
      height: 4.5rem;
    }
  
    .header-content .container.grid-2 {
      min-height: calc(100vh - 4.5rem);
      padding-bottom: 1.5rem;
    }
  
    .logo {
      width: 65px;
    }
  
    .links a {
      font-size: 0.8rem;
      padding: 0.65rem 0.7rem;
    }
  
    .links a.active {
      font-size: 0.7rem;
      padding: 0.7rem 1.7rem;
      margin-left: 0.6rem;
    }
  
    .header-title {
      font-size: 2.6rem;
    }
  
    .header-content .text {
      margin: 1.1rem 0;
    }
  
    .card {
      min-height: 390px;
      max-width: 290px;
      padding: 2.2rem 1.5rem;
    }
  
    .icon {
      width: 65px;
      margin-bottom: 0.8rem;
    }
  
    .card .text {
      font-size: 0.9rem;
      margin: 1rem 0;
    }
  
    .card:before {
      font-size: 5rem;
    }
  
    .card-wrap {
      margin: 1rem 0.6rem;
    }

    .grid {
      margin: 0.8rem 0;
    }
  
    .grid-item {
      padding: 0.8rem;
    }
  
    .gallery-image {
      height: 250px;
      max-width: 325px;
    }
  
    .gallery-image .img-overlay {
      padding: 1.4rem 2rem;
    }
  
    .plus:before,
    .plus:after {
      width: 2.8rem;
    }
  
    .img-overlay h3 {
      font-size: 1.1rem;
    }
  
    .img-overlay h5 {
      font-size: 0.8rem;
    }
  
    .background-bg {
      height: 370px;
    }
  
    .filter-btn {
      padding: 0.6rem 1.45rem;
      font-size: 0.7rem;
    }
  
    .about img {
      max-width: 420px;
    }
  
    .about .text {
      margin-top: 0.7rem;
    }
  
    .skills {
      margin: 0.9rem 0 1.7rem 0;
    }
  
    .skill-title {
      font-size: 1rem;
    }
  
    .skill-bar {
      height: 6px;
    }
  
    .about .column-1:before {
      font-size: 6rem;
      top: 13px;
    }
  
    .contact {
      padding: 9rem 0 6rem 0;
    }
  
    .contact-form {
      padding-left: 1rem;
    }
  
    .contact-info {
      padding-right: 1rem;
    }
  
    .contact-box {
      padding: 3.6rem 3rem;
    }
  
    .information-wrap {
      margin-top: 1.2rem;
    }
  
    .contact-icon {
      min-width: 50px;
      height: 50px;
      font-size: 1rem;
      margin-right: 0.8rem;
    }
  
    .contact-icon i {
      line-height: 50px;
    }
  
    .info-text {
      font-size: 1.05rem;
    }
  
    .contact-input {
      font-size: 0.9rem;
      padding: 0.9rem 1.6rem;
      margin: 0.4rem 0;
    }
  
  
    .footer {
      padding: 4rem 0;
    }
  
    .footer .title-sm {
      margin-bottom: 0.5rem;
    }
  
    .copyright .text {
      font-size: 0.95rem;
    }
  
    .followme h3 {
      font-size: 1.05rem;
    }
  
    .followme .footer-line {
      margin: 0 0.8rem;
    }
  
    .social-media a {
      font-size: 1.05rem;
    }
  
    .back-btn-wrap {
      margin-left: 1.3rem;
    }
  
    .back-btn {
      width: 43px;
      height: 43px;
      font-size: 0.9rem;
    }
  
    .back-btn-wrap:before {
      width: 45px;
      height: 45px;
    }
  }
  
  @media (max-width: 850px) {
    .grid-2 {
      grid-template-columns: 1fr !important;
    }
  
    .column-1 {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  
    .column-2 {
      margin-left: 0;
      margin-top: 1rem;
    }

    .hamburger-menu {
      display: flex;
    }
  
    .header-content {
      margin-top: 1rem;
    }
  
    .header-title {
      font-size: 2.3rem;
    }
  
    .header-content .image {
      max-width: 400px;
      margin: 0 auto;
    }
  
    header .column-1 {
      max-width: 550px;
      margin: 0 auto;
    }
  
    /*----HAMBURGER LINKS-----*/

    .links {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      right: 0;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transform: translateX(100%);
      transition: 0.5s;
    }
  
    .links ul {
      flex-direction: column;
    }
  
    .links a {
      color: var(--blue);
    }
  
    .links a.active {
      margin-left: 0;
      margin: 0.5rem 0;
    }
  
    .header-content .container.grid-2 {
      min-height: 80vh;
    }

    .card {
      width: 360px;
    }
  
    .grid-item {
      width: 50%;
    }
  
    .gallery-image {
      height: 210px;
      max-width: 270px;
    }
  
    .banner2 {
      height: 340px;
    }
  
    .about .column-1:before {
      font-size: 5rem;
    }
  
    .contact-box {
      grid-template-columns: 1fr;
      padding: 3.2rem 2.7rem;
    }
  
    .contact-info {
      padding-right: 0;
      padding-bottom: 0.5rem;
    }
  
    .contact-form {
      padding-left: 0;
      padding-top: 0.5rem;
    }
  
    .information-wrap {
      margin-top: 0.7rem;
    }
  
    .information:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  
    .contact-input.textarea {
      min-height: 220px;
    }
  
    .contact:before {
      height: 25%;
    }
  
    .contact:after {
      height: 75%;
      top: 25%;
    }

  
    .footer-content {
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 1.5rem 0 0 0;
      margin-top: 2.5rem;
      position: relative;
    }
  
    .footer-content:before {
      content: "";
      position: absolute;
      width: 90%;
      max-width: 500px;
      height: 1px;
      background-color: #7b7b7b;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .followme-wrap {
      margin-top: 0.8rem;
    }
  }
  
  @media (max-width: 600px) {
    .grid-item {
      width: 100%;
    }
  }
  
  @media (max-width: 560px) {
    .container {
      padding: 0 2rem;
    }
  
    .title {
      font-size: 1.8rem;
    }
  
    .text {
      font-size: 0.92rem;
    }
  
    .overlay.overlay-lg .shape {
      height: 28px;
    }
  
    .contact {
      padding: 8rem 0 5rem 0;
    }
  
    .contact-info {
      display: none;
    }
  
    .contact-box {
      padding: 2.3rem 2rem;
      border-radius: 30px;
    }
  
    .contact:before {
      background-size: 200%;
    }
  
    .contact-form .row {
      grid-column-gap: 0.3rem;
    }
  
    .contact-input {
      font-size: 0.8rem;
      padding: 0.8rem 1.4rem;
      margin: 0.25rem 0;
    }
  }
  